.stats {
  position: relative;
}

.stats-page {
  position: relative;
  padding-top:20px;
}

.stats-refs {
  padding-left:20px;
}


.title {
  max-width:250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}



path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.is-bridge {
  stroke: red
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 14px sans-serif;
  pointer-events: none;
}


#rootsvg {
  position: absolute;
  left:250px;
  top:100px;
}

#critical {
  position: absolute;
  left:350px;
  top:700px;
}

.is-map #rootsvg {
  position: absolute;
  left:0px;
  top:30px;
}

.url {
  opacity: 0.4;
}

.leftpart {
  display:inline-block;
  min-width:100px;
}


.no-transition-name {
  display: inline-block;
  vertical-align: top;
  max-width:350px;
}