{% extends "personal/header.html" %}

{% block content %}
<h2>АО «Уфанет»</h2>
<p>Юридический адрес: 450001, г. Уфа, Проспект Октября, 4/3.</p>
<p>Фактический адрес: 450001, г. Уфа, Проспект Октября, 4/3.</p>
<ul>
  <li><b>БИК:</b> 048073601</li>
  <li><b>КПП:</b> 025250001</li>
  <li><b>ИНН:</b> 0278109628</li>
  <li><b>ОГРН:</b> 105 020 459 69 14</li>
</ul>
<h3>Контакты для инвесторов</h3>
<p>Ковырзина Татьяна Сергеевна<br />Ведущий экономист<br />E-mail: Kovurzina@ufanet.ru</p>
{% endblock %}
