<!DOCTYPE html>
<html lang="en">

<head>
	<title>Дипломный проект</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css" />
	<link rel="stylesheet" href="{% static 'personal/css/styles.css' %}" type = "text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="body">
	<div class="container-fluid main">
		<div class="row">
			  <div class="col-sm-12">
				  <h3><a href="/">Шапка сайта, логотип там и всё такое</a></h3>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
			<div class="well bs-sidebar sidebar" id="sidebar">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Главная</a></li>
				<li><a href='/blog/'>Блог</a></li>
				<li><a href='/about/'>О компании</a></li>
				<li><a href='/contact/'>Контактная информация</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid footer-container">
			<p><a href="https://google.com" target="blank">Ссылки</a> | <a href="https://google.com" target="blank">Подвала</a> | <a href="https://google.com" target="blank">Ведут</a> | <a href="https://google.com" target="blank">Наружу</a></p>
		</div>
	</footer>

</body>

</html>
