{% block content %}

<h2>Свежие новости</h2>
<div class="col-sm-4">
  <a href="/blog/6">UTV. Уфимцы поддержали всероссийский протест в отношении детского омбудсмена</a>
  <p>2017-05-30</p>
</div>
<div class="col-sm-4">
  <a href="/blog/5">Планово-профилактические работы 26.05.17</a>
  <p>2017-05-25</p>
</div>
<div class="col-sm-4">
  <a href="/blog/4">Изменения в сети кабельного телевидения АО «Уфанет» с 01.06.2017 г.</a>
  <p>2017-05-25</p>
</div>

<div class="clearfix"></div>

<h2>Последние распоряжения</h2>
<div class="col-sm-4">
  <a href="/decrees/1">Распоряжение - Служба поддержки ЭЖ Уфанет</a>
  <div><img src="/static/personal/img/decree1.jpg" style="max-width: 100px; height:auto; margin:5px 0;"/></div>
  <p>2017-01-10</p>
</div>
<div class="col-sm-4">
  <a href="/decrees/1">Уведомление о переходе на удалённую работу</a>
  <p>2017-01-10</p>
</div>
<div class="col-sm-4">
</div>

<div class="clearfix"></div>

<h2>Последние загруженные документы</h2>
<div class="col-sm-4">
  <div class="blog-post">
    <a href="/docs/5"><h4>Лицензия №128496</h4></a>
    <div><img src="/static/personal/img/5.jpg" style="width: 90%; max-width:200px; height:auto;">
    </div>
    <span>2010-05-06</span>
  </div>
</div>
<div class="col-sm-4">
  <div class="blog-post">
    <a href="/docs/3"><h4>Лицензия №153084</h4></a>
    <div><img src="/static/personal/img/3.jpg" style="width: 90%; max-width:200px; height:auto;">
    </div>
    <span>2007-06-05</span>
  </div>
</div>
<div class="col-sm-4">
  <div class="blog-post">
    <a href="/docs/1"><h4>Лицензия №143866</h4></a>
    <div><img src="/static/personal/img/1.jpg" style="width: 90%; max-width:200px; height:auto;">
    </div>
    <span>2006-10-24</span>
  </div>
</div>
<!--<h2>Контактная информация АО «Уфанет»</h2>
<p>Юридический адрес: 450001, г. Уфа, Проспект Октября, 4/3.</p>
<p>Фактический адрес: 450001, г. Уфа, Проспект Октября, 4/3.</p>
<ul>
  <li><b>БИК:</b> 048073601</li>
  <li><b>КПП:</b> 025250001</li>
  <li><b>ИНН:</b> 0278109628</li>
  <li><b>ОГРН:</b> 105 020 459 69 14</li>
</ul>
<h3>Контакты для инвесторов</h3>
<p>Ковырзина Татьяна Сергеевна<br />Ведущий экономист<br />E-mail: Kovurzina@ufanet.ru</p>

<h2 style="margin-top:50px;">О нас</h2>
<img 
  src="/static/personal/img/ufanet.png"
  style="width: 90%; max-width:500px; height:auto;" />-->

{% endblock %}
